* {
    box-sizing: border-box;
}

:root {
    --primary: rgb(68, 28, 209);
    --secondary: rgb(141, 120, 218);
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* Header style starts */
header {
    margin: 1rem;
    font-size: 1rem;
    font-weight: 500;
}

header #high-scores {
    color: var(--secondary);
}

header .quiz-timer {
float:right;
}
/* Header style ends */


.quiz-card,
.quiz-intro,
.scoreCardEl,
.highScoreCardEl
{
    text-align: center;
    margin-top: 3rem;
}
/* Home page style starts */
.quiz-card .quiz-intro h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.quiz-card .quiz-intro p {
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 0.25rem;
}

.quiz-card .quiz-intro .btn {
    background-color: var(--primary);
    color: white;
    margin: 0.25rem;
    padding: 0.5rem;
    font-size: 1.25rem;
    border-radius: 12px;
    text-align: center;
}

.quiz-card .quiz-intro .btn:hover,
.option-btn:hover {
    background-color: var(--secondary);
}
/* Home page style ends */

/* Quiz page style starts */
.quiz-card .quiz-container {
    margin-left: 30%;
    width: 60%;
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    text-align: left;
    
}
.quiz-card .quiz-container .quiz-quest {
    margin-bottom: 0.5rem; 
}

.option-btn {
    background-color: var(--primary);
    color: white;
    border-radius: 12px;
    text-align: left;
    width: 30%;
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
    padding: 0.5rem;
}

/* Quiz page style ends */

/* Footer style starts */
.message {
    margin-left: 30%;
    margin-top: 2rem;
    width: 60%;
    border-top: 2px solid rgb(56, 54, 54);
    padding: 0.5rem;
    text-align: center;
    background-color: white;
    opacity: 0.5;
    font-size: x-large;
    font-style: italic;
}
/* Footer style ends*/
/*
#score-table {
        width: 20%;
        margin: auto auto auto 40%;
        text-align: left;
        overflow-x: auto;
}
#score-tr:nth-child(odd) {
    background-color: #b4abab;
}
*/



